*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --ms-bg-color-head:rgb(44,62,80);
    --ms-bg-color-section:rgb(85,189,156);
    --ms-bg-color-ft:rgb(58,84,109);
    --ms-bg-color-fb:rgb(44,62,80);
}

header{
    background-color: var(--ms-bg-color-head);
}

#intro, #about{
    background-color:var(--ms-bg-color-section) ;
}

body{
    font-family: 'Open Sans', sans-serif;
}

#about, #contact{
    padding: 0px 10rem;
}

.star-line{
    height: 0.3rem;
    width: 15%;
}

.foot-top{
    background-color: var(--ms-bg-color-ft);
}

.foot-bottom{
    background-color: var(--ms-bg-color-fb);
}

.layover{
    display: none;
}

#portfolio a:hover .layover{
    display: block;
}

.circle {
      width: 32px;
      height: 32px;
      border-radius: 50%
    }
